{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.

@package block_attendance_report
@copyright 2021 Veronica Bermegui
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}

<section data-username={{username}} class="connect-assign-quizz">
    <div class="card-body">
        <h3 class="lead">{{#str}} assigquiz_report, block_assignmentsquizzes_report {{/str}}</h3>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <dl>
                        <dt></dt> <br>
                        <dd>
                            <ul class="badges">
                                {{> block_assignmentsquizzes_report/synergeticassignments}}
                            </ul>
                        </dd>

                        <dd>
                            <div class="assign-quizz-container">
                                <dl>
                                    <dt></dt><br>
                                    <dd>
                                        <ul class="badges">
                                            <a href="#" data-toggle="collapse" data-target="#collapseconnectassignments"
                                                aria-expanded="false" aria-controls="collapseconnectassignments"
                                                class="connect-assignment">
                                                <div class="badge-actions"></div>
                                                <span class="badge-name">{{#str}}moodleassing,
                                                    block_assignmentsquizzes_report{{/str}} </span>
                                                <span id="connectassignment-hide"
                                                    class="fa fa-caret-right badge-name"></span>
                                                <span id="connectassignment-show"
                                                    class="fa fa-caret-down badge-name"></span>
                                            </a>
                                            <div class='collapse' id="collapseconnectassignments">
                                                <br>
                                                <div data-region="connect-assignment"></div>
                                                <div class='spinner-border  text-primary' id="connect-assignment-table"
                                                    hidden>
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>

                                            <a href="#" data-toggle="collapse" data-target="#collapseconnectquizz"
                                                aria-expanded="false" aria-controls="collapseconnectquizzes"
                                                class="connect-quizz">

                                                <div class="badge-actions"></div>
                                                <span class="badge-name">{{#str}}moodlequiz,
                                                    block_assignmentsquizzes_report{{/str}} </span>
                                                <span id="connectquizz-hide"
                                                    class="fa fa-caret-right badge-name"></span>
                                                <span id="connectquizz-show" class="fa fa-caret-down badge-name"></span>
                                            </a>

                                            <div class='collapse ' id="collapseconnectquizz">
                                                <br>
                                                <div data-region="connect-quizz"></div>
                                                <div class='spinner-border  text-primary' id="connect-quizz-table"
                                                    hidden>
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
</section>

{{#js}}
require(['block_assignmentsquizzes_report/control'], function(Mod) {
Mod.init();
});
{{/js}}